@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  } @else if $point == handheld {
    @media (max-width: 28.125em) {
      @content;
    }
  }
}

// flex

//row
@mixin flex-row-spaceEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@mixin flex-row-spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
//col
@mixin flex-col-spaceEvenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@mixin flex-col-spaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
