.navigation {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 50px);
  padding: 0 25px;
  height: 100px;
  background-color: #3c5382;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 1rem;
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: turquoise;
        }
      }
    }
  }
}
